*{
    padding:0px;
    margin: 0px;
}

/* header section */

.header-section{
    background-image: url(./images/banner/banner1.png);
    background-blend-mode: hard-ligh;
    background-size: cover;
    background-repeat: no-repeat;
    height: 800px;
    text-align: right;
    margin-top: 0px;
}
.header-div{
    padding-top: 250px;
    width: 400px;
    padding-left: 780px;
}
.first-p{
    font-size: 45px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-bottom: 15px;
}
.second-p{
    font-size: 12px;
    padding-bottom: 15px;
}
.contact-button{
    border: none;
    border-radius: 5px;
    background-color: rgb(240, 82, 20);
    height: 35px;
    width: 80px;
}

/* second section */

.second-section{
    display: flex;
}
.person-image{
    position: absolute;
    padding-left: 280px;
}
.person-details{
    position: absolute;
    padding-left: 750px;
    padding-top: 150px;
    text-align: left;
}
.persoon-heading{
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 30px;
    padding-right: 50px;
}
.person-p{
    padding-top: 15px;
    font-size: 13px;
    padding-bottom: 15px;
}
.list{
    position: absolute;
    width: 500px;
}
ul {
    list-style: none;
  }
  
  ul li::marker {
    content: '✓';
    color: green;
  }
    /* plans section */

.plan-section{
    padding-top: 520px ;
}
.plan-heading{
    position: absolute;
    font-size: 36px;
    text-align: center;
    padding-left: 634px;

}
.individual-skills{
    display: flex;
    gap: 80px;
    margin-left: 200px;
    padding-top: 110px;
}
.skill-div{
    box-shadow: 0px 10px 30px rgb(173, 155, 155) ;
    background-color:#ffffff;
    padding: 20px;
    width: 150px;
    text-align: center;

}
.image-web{

}
.skill-name{
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 18px;
}

/* time/middle image section */

.time-section{
    padding-top: 110px;
    padding-left: 180px;
    color: white;
}
.middle-div{
    background-image:url(./images/watch.png);
    background-repeat: no-repeat;
    width: 1000px;
    height: 250px;
    align-items: center;
    border-radius: 10px;
    padding-left: 70px;
    padding-top: 85px;
}

.p-time-section{ 
    font-size: 40px;
}

.visit-button{
    border: none;
    color: rgb(240, 82, 20);    border-radius: 5px;
    height: 40px;
    width: 100px;
    font-size: 20px;
}

/* footer section */

.footer-section{
    display: flex;
    gap: 200px;
    justify-content: center;
    background-color: black;
}
.future-div{
    width: 400px;
    padding-top: 120px;
    padding-left: 200px;
    font-size: 13px;
    color: white;
}
.future-details{
    padding-top: 16px;

}
.section-last{

    padding-bottom: 120px;
}
.icon-div{
    padding-top: 20px;
}
.subscribe-div{
    padding-top: 150px;
    font-size: 30px;
    padding-right: 5px;
    color: wheat;
}
.input{
    height: 35px;
    width: 200px;
    border-radius: 5px;
    text-align: left;
    padding-left: 20px;
    margin-top: 10px;
}
.visit-button{
    margin-top: 15px;
}
